.exam-hall-3d {

    width: 100%;

    height: 650px;

    margin-top: 25px;

    border-radius: 24px;

    overflow: hidden;

    position: relative;

    background:
        radial-gradient(circle at center,
            #07151b 0%,
            #020508 55%,
            #010204 100%);

    border: 1px solid rgba(0, 255, 255, 0.35);

    box-shadow:

        0 0 25px rgba(0, 255, 255, 0.12),

        0 0 70px rgba(0, 255, 255, 0.05),

        inset 0 0 40px rgba(0, 255, 255, 0.05);

}


/* 3D CANVAS */

.exam-hall-3d canvas {

    width: 100% !important;

    height: 100% !important;

    display: block;

}


/* TOP GLOW */

.exam-hall-3d::before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    height: 2px;

    background:
        linear-gradient(90deg,
            transparent,
            #00ffff,
            transparent);

    box-shadow:
        0 0 15px #00ffff;

    z-index: 2;

}


/* CORNER GLOW */

.exam-hall-3d::after {

    content: "";

    position: absolute;

    width: 180px;

    height: 180px;

    right: -80px;

    bottom: -80px;

    border-radius: 50%;

    background:
        rgba(0, 255, 255, 0.12);

    filter: blur(60px);

    pointer-events: none;

}